<!--
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="container">
            <form class="form-horizontal">
                <fieldset>
                    <legend>SEARCH FILM BY TITLE</legend>
                    <div class="form-group">
                        <label for="filmTitle" class="col-lg-3 control-label">Title</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="filmTitle" placeholder="Enter Title">
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="searcht()">Search</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
-->

<br/>

<!--
<div class="col-lg-2"></div>
<div class="col-lg-8">
    <div class="row">
        <legend>FILMS LIST</legend>
        <div ng-repeat="i in range(8)">
            <div class="col-md-3">
                <div class="well well-lg col-md-4">
                    <div class="fff">
                        <div class="thumbnail">
                            <a href="#"><img alt="image" src="http://placehold.it/360x240"></a>
                        </div>
                        <div class="caption">
                            <h4>{{film[i].title}}</h4>
                            <p>{{film[i].description}}</p>
                            <p>Rlease year : {{film[i].release_year}}</p>
                            <a class="btn btn-mini" href="#">» Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <legend>FILMS LIST</legend>
        <div class="well well-lg col-md-4" ng-repeat="film in films">
                <div class="fff">
                    <div class="thumbnail">
                        <a href="#"><img src="lib/images/pic14.jpg" ></a>
                        <a href="#"><img src="lib/images/pic15.jpg" ></a>
                        <a href="#"><img src="lib/images/pic22.jpg" ></a>
                    </div>
                    <div class="caption">
                        <p><b>{{film.title}}</b></p>
                        <!--<p>{{film.description}}</p>-->
                        <p>Rlease year : {{film.release_year}}</p>
                        <p>Category : {{film.category.name}}</p>
                        <a class="btn btn-mini" href="#">» Read More</a>
                        <br>
                        <br>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
